/* Ajout police */
@font-face {
    font-family: 'rajdhani';
    src: url(../police/Rajdhani-Medium.ttf);
}
@font-face {
    font-family: 'space grotesk';
    src: url(../police/SpaceGrotesk-VariableFont_wght.ttf);
}

/* @import url */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=Space+Grotesk:wght@700&display=swap');

/*couleur menu type*/
:root{
    --yellow-color: #FFFF00;
    --yellow-light: #F8F184;
    --blue-color: #1958FD;
    --red-color: #B11313;
    --black-color: #0D0E09;
    --gris-color: #c4c4c4;
    --white-color: #fff;
    --gradient-white: #eddebf54;
    --gradient-red: #89000954;

}

/*entete*/


 /*design de la navigation*/
 
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    
}

ul{
    list-style: none;
}

nav ul a{
    background-color: var(--yellow-color);
    font-size: 30px;
    font-weight: 500;
    font-family: "Rajdhani";
    /*text-decoration: none;*/
}

nav ul a:hover{
    color: var(--yellow-color);
} 


/* design de la partie entete hero*/

#hero {
    background-image: url(../Illustrations/Bathome1.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 800px;
    text-align: center;
    background-size: cover;

}
/*width: 0%;
    margin: 0 auto;
    padding-top: 0px;
*/

#hero .titre{
    margin: 20px 0;
}

.btn{
   text-decoration: none;
   color: var(--white-color);
   font-size: 16px;
   margin-top: 10px;
   padding: 10px 40px;
   background: linear-gradient(
    80deg, var(--gradient-white), var(--gradient-red)
   );
   box-shadow: var(--black-color) 5px 5px 60px;

}

#hero .fleche{
    display: block;
    margin: 0 auto;
    margin-top: 400px;

}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}


/*design corps de la page*/

/*selecteur universel* */
*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
   
}

body{
    border: 1px solid var(--gradient-white);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: 'Rajdhani'; 
    font-weight: 0px ;
    
}

 h1{
    font-family: 'Rajdhani';
    font-size: 36px;
    font-weight: 500;
    
 }

 h2{
    font-family: 'Rajdhani';
    font-size: 22px;
    font-weight: 500;
    text-align: center;
 }

 h3{
    text-align: center;
 }


  button{
    font-family: 'Rajdhani-Medium';
    font-size: 10px;
    font-weight: 200;
 }

 .container{
    width: 100%;
    margin: 0 auto;
 }

 /* position fleche */

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 1px;
    top: 230px;
}

.scroll .social{
    margin-top: 15px;
}

 /* design de la section batman personnage */

 #batman-cinema{
    margin-top: 40px 0;
 }
 .batman-personnage{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: 40px;
 }
 
.d, .e, .f, .g, .h{
    margin-bottom: 40px;
    width: 80%;
    margin-top: 40px; 
    text-align: justify;
}

.allies{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: 40px;

 }

.nemesis{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: 40px;

 }

 .justice-league{
    display: block;
    margin-top: 40px;
 }

 #multimedia .slider-multimedia, #multimedia .slider-content{
    display: flex;
    width: 80%;
    margin: 10px auto;
 }
 .multimedia{
    display: block;
    margin-top: 40px;
 }

/*footer*/
footer{
        text-align: center;
}

